<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.salon360.com" version="1.0">

	<name>Salon 360</name>
	<description>asd</description>
	<author>asd</author>
	<gap:platforms>
		<gap:platform name="ios" />
                <gap:platform name="android" />
                <gap:platform name="webos" />
                <gap:platform name="symbian.wrt" />
                <gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>
	
	<icon src="icon.png" gap:platform="android" gap:density="xhdpi" />
	
	<preference name="phonegap-version" value="3.5.0" />
	
	<access origin="*" subdomains="true" />
	<access uri="*" subdomains="true" />
	<feature name="http://api.phonegap.com/1.0/network"/>

	<gap:plugin name="org.apache.cordova.inappbrowser" />

	
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<preference name="target-device" value="universal" />
	

</widget>